<head>
  <style>
    .button {
      background-color: #316CF4;
      border: none;
      color: white;
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
</head>

<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <h4><%= form.label :title, style: "display: block" %></h4>
    <%= form.text_field :title, size: 30 %>
  </div>

  <div>
    <h4><%= form.label :description, style: "display: block" %></h4>
    <%= form.text_area :description, size: "50x5" %>
  </div>

  <div>
    <%= form.submit class: "button"%>
  </div>
<% end %>
